.section-header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #e76f1d; /* màu cam đậm */
}

.section-header h2 {
    display: inline-block;
    background-color: #e76f1d; /* màu cam */
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    position: relative;
    top: 3px; /* đẩy tiêu đề xuống khớp đường viền */
}

.login-form-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login-form {
    width: 600px; /* nhỏ lại */
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

