<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div>
        <div>
            <div th:replace="base :: sidebar"></div>
            <main class="container">
                <div style="padding-top: 110px "></div>

                <div class="w3-container" style="margin-left:200px">
                    <div class="section-header">
                        <h2>Nhập điểm</h2>
                    </div>
                    <div class="mt-2 mb-2 d-flex justify-content-between align-items-center">
                        <a th:href="@{'/grade/classes/' + ${classId} + '/add-column'}"
                           class="btn btn-danger ms-auto">Thêm cột điểm</a>                    
                    </div>

                    <div>
                        <form th:action="@{'/grade/classes/' + ${classId} + '/students/add'}" method="post" th:object="${grades}">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>MSSV</th>
                                        <th>Họ và tên</th>
                                        <th>Cuối kì</th>
                                        <th>Giữa kì</th>
                                        <th th:each="tg : ${grades[0].grade != null && grades[0].grade.typegradeSet != null ? grades[0].grade.typegradeSet : {}}"
                                            th:text="${tg.name}">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="s, iter : ${grades}">
                                        <td th:text="${s.studentId.id}"></td>
                                        <td th:text="${s.studentId.studentCode}"></td>
                                        <td th:text="${s.studentId.name}"></td>
                                <input type="hidden" th:name="grades[__${iter.index}__].id" th:value="${s.grade.id}" />
                                <input type="hidden" th:name="grades[__${iter.index}__].studentClassId.id" th:value="${s.id}" />
                                <td>
                                    <input type="number" class="form-control" step="0.01" min="0" max="10"
                                           th:name="grades[__${iter.index}__].finalExem"
                                           th:value="${s.grade != null ? s.grade.finalExem : ''}" />
                                </td>
                                <td>
                                    <input type="number" class="form-control" step="0.01" min="0" max="10"
                                           th:name="grades[__${iter.index}__].midterm"
                                           th:value="${s.grade != null ? s.grade.midterm : ''}" />
                                </td>

                                <td th:each="tg, tgIter : ${s.grade.typegradeSet}">
                                    <input type="hidden"
                                           th:name="grades[__${iter.index}__].typegradeSet[__${tgIter.index}__].id"
                                           th:value="${tg.id}" />

                                    <input type="hidden"
                                           th:name="grades[__${iter.index}__].typegradeSet[__${tgIter.index}__].name"
                                           th:value="${tg.name}" />

                                    <input type="hidden"
                                           th:name="grades[__${iter.index}__].typegradeSet[__${tgIter.index}__].gradeId.id"
                                           th:value="${s.grade.id}" />

                                    <input type="number" class="form-control" step="0.01" min="0" max="10"
                                           th:name="grades[__${iter.index}__].typegradeSet[__${tgIter.index}__].grade"
                                           th:value="${tg.grade}" />
                                </td>

                                </tr>
                                </tbody>
                            </table>
                            <div class="form-floating mb-3 mt-3">
                                <button type="submit" class="btn btn-success">Lưu điểm</button>
                            </div>
                        </form>

                    </div>
                </div>
            </main>
        </div>
        <div th:replace="base :: footer" ></div>
    </div>
</body>
</html>







