<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div>
        <div>
            <div th:replace="base :: sidebar"></div>
            <main class="container">
                <div style="padding-top: 110px "></div>

                <div class="w3-container" style="margin-left:200px">
                    <div class="section-header">
                        <h2>Danh sách sinh viên</h2>
                    </div>

                    <div>
                        <form th:action="@{/students/addorupdate}" method="post" th:object="${student}">
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="studentCode" placeholder="Mã số sinh viên" th:field="*{studentCode}" required />
                                <label for="code">Mã số sinh viên</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="name" placeholder="Tên sinh viên" th:field="*{name}" required />
                                <label for="name">Tên sinh viên</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="date" class="form-control" id="birthday" placeholder="Ngày sinh" th:field="*{birthday}" required />
                                <label for="birthday">Ngày sinh</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="gender" placeholder="Giới tính" th:field="*{gender}" required maxlength="6" />
                                <label for="gender">Giới tính</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="schoolYear" placeholder="Niên khóa" th:field="*{schoolYear}" required/>
                                <label for="schoolYear">Niên khóa</label>
                            </div>

                            <div class="form-floating mb-3 mt-3">
                                <select class="form-select pt-4" id="facultyId" th:field="*{facultyId.id}" required>
                                    <option value="" disabled selected>-- Chọn khoa --</option>
                                    <option th:each="c : ${faculties}" th:value="${c.id}" th:text="${c.name}"></option>
                                </select>
                                <label for="faculty">Khoa</label>
                            </div>


                            <div class="form-floating mb-3 mt-3">
                                <input type="hidden" th:field="*{id}" />

                                <button type="submit" class="btn btn-success">
                                    <span th:if="${student.id == null}">Thêm sinh viên</span>
                                    <span th:if="${student.id != null}">Cập nhật sinh viên</span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </main>
        </div>
        <div th:replace="base :: footer" ></div>
    </div>
</body>
</html>






