
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div>
        <div>
            <div th:replace="base :: sidebar"></div>
            <main class="container">
                <div style="padding-top: 110px "></div>

                <div class="w3-container" style="margin-left:200px">
                    <div class="section-header">
                        <h2>ĐĂNG KÍ TÀI KHOẢN GIẢNG VIÊN</h2>
                    </div>

                    <div>
                        <form th:action="@{/admin/users/add}" method="post" th:object="${user}" enctype="multipart/form-data">
                            <div class="form-floating mb-3 mt-3">
                                <select class="form-select pt-4" id="teacher" th:field="*{teacher}" required>
                                    <option value="" disabled selected>-- Chọn giảng viên --</option>
                                    <option th:each="c : ${teachers}" th:value="${c.id}" th:text="${c.name}"></option>
                                </select>
                                <label for="teacher">Giảng viên</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="lastname" placeholder="Last name" th:field="*{lastName}" required />
                                <label for="lastname">Last name</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="firstname" placeholder="Fist name" th:field="*{firstName}" required />
                                <label for="firstname">First name</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="email" class="form-control" id="email" placeholder="email" th:field="*{email}" required />
                                <label for="email">email</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" th:field="*{username}" required />
                                <label for="username">Tên đăng nhập</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="password" class="form-control" id="password" placeholder="Mật khẩu" th:field="*{password}" required />
                                <label for="password">Mật khẩu</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="password" class="form-control" id="confirmpassword" placeholder="Xác nhận mật khẩu" th:field="*{confirmPassword}" required />
                                <label for="confirmpassword">Xác nhận mật khẩu</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="file" class="form-control" id="avatar" placeholder="avatar" th:field="*{file}" required />
                                <label for="avatar">Avatar</label>
                            </div>
                            
                            

                            <button type="submit" class="btn btn-primary">Tạo</button>
                        </form>

                    </div>
                </div>
            </main>
        </div>
        <div th:replace="base :: footer" ></div>
    </div>
</body>
</html>












