<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div>
        <div>
            <div th:replace="base :: sidebar"></div>
            <main class="container">
                <div style="padding-top: 110px "></div>

                <div class="w3-container" style="margin-left:200px">
                    <div class="section-header">
                        <h2>Danh sách lớp học</h2>
                    </div>

                    <div class="mt-2 mb-2 d-flex justify-content-between align-items-center">
                        <th:block th:if="${action == 'class'}">
                            <a th:href="@{/}" class="btn btn-success">Thêm sinh viên</a>
                        </th:block>
                        <th:block th:if="${action == 'grade'}">
                            <span></span>
                        </th:block>

                        <!-- Form tìm kiếm bên phải -->
                        <th:block th:if="${action == 'class'}">
                            <form th:action="@{'/classes/semesters/' + ${semesterId}}" method="get" class="d-flex">
                                <div>
                                    <div class="d-flex">
                                        <input type="text" class="form-control me-2" placeholder="Nhập tên lớp hoặc môn" name="kwClass"/>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </th:block>
                        <th:block th:if="${action == 'grade'}">
                            <form th:action="@{'/grade/classes/semesters/' + ${semesterId}}" method="get" class="d-flex">
                                <div>
                                    <div class="d-flex">
                                        <input type="text" class="form-control me-2" placeholder="Nhập tên lớp hoặc môn" name="kwClass"/>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </th:block>

                    </div>

                    <div>
                        <table class="table">
                            <tr>
                                <th>Id</th>
                                <th>Tên Lớp</th>
                                <th>Môn học</th>
                                <th>Giảng viên</th>
                                <th></th>
                            </tr>

                            <tr th:each="s: ${classes}">
                                <td th:text="${s.id}"></td>
                                <td th:text="${s.name}"></td>
                                <td th:text="${s.courseId.name}"></td>
                                <td th:text="${s.teacherId.name}"></td>
                                <td>
                            <th:block th:if="${action == 'class'}">
                                <a th:href="@{'/classes/' + ${s.id} + '/students'}" class="btn btn-info"><i class="fa-solid fa-users"></i></i></a>
                            </th:block>
                            <th:block th:if="${action == 'grade'}">
                                <a th:href="@{'/grade/classes/' + ${s.id} + '/students'}" class="btn btn-info"><i class="fa-solid fa-users"></i></i></a>

                            </th:block>
                            <a th:href="@{/}" class="btn btn-info"><i class="fa-solid fa-square-pen"></i></a>
                            <button th:onclick="/" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </main>
        </div>
        <div th:replace="base :: footer" ></div>
    </div>
</body>
</html>



