<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div>
        <div>
            <div th:replace="base :: sidebar"></div>
            <main class="container">
                <div style="padding-top: 110px "></div>

                <div class="w3-container" style="margin-left:200px">
                    <div class="section-header">
                        <h2>Danh sách khoa</h2>
                    </div>

                    <div class="mt-2 mb-2 d-flex justify-content-between align-items-center">
                        <!-- Nút bên trái -->
                        <a th:href="@{/faculties/addorupdate}" class="btn btn-success">Thêm khoa</a>

                        <!-- Form tìm kiếm bên phải -->
                        <form th:action="@{/faculties}" class="d-flex">
                            <input type="text" class="form-control me-2" placeholder="Nhập tên khoa" name="kw">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>

                    <div>
                        <table class="table">
                            <tr>
                                <th>Id</th>
                                <th>Tên</th>
                                
                                <th></th>
                            </tr>
                            <tr th:each="f: ${faculties}">
                                <td th:text="${f.id}"></td>
                                <td th:text="${f.name}"></td>

                                <td><a th:href="@{'/faculties/addorupdate/' + ${f.id}}" class="btn btn-info"><i class="fa-solid fa-square-pen"></i></a>
                                    <button th:onclick="/" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </main>
        </div>
        <div th:replace="base :: footer" ></div>
    </div>
</body>
</html>




