<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div>
        <div>
            <div th:replace="base :: sidebar"></div>
            <main class="container">
                <div style="padding-top: 110px "></div>

                <div class="w3-container" style="margin-left:200px">
                    <div class="section-header">
                        <h2>Quản lý điểm sinh viên</h2>
                    </div>

                    <div class="mt-2 mb-2 d-flex justify-content-between align-items-center">
                        <a th:href="@{'/admin/grade/classes/'+ ${classId} + '/students/add'}" class="btn btn-danger"> Nhập điểm</a>
                        <!-- Form tìm kiếm bên phải -->
                        <form th:action="@{'/admin/grade/classes/' + ${classId} + '/students'}" method="get" class="d-flex">
                            <div>
                                <div class="d-flex">
                                    <input type="text" class="form-control me-2" placeholder="Nhập tên hoặc mssv" name="kwStudent"/>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div>

                        <table class="table">
                            <tr>
                                <th>Id</th>
                                <th>MSSV</th>
                                <th>Họ và tên</th>
                                <th>Cuối kì</th>
                                <th>Giữa kì </th>

                                <th th:each="tg : ${grades[0].grade != null && grades[0].grade.typegradeSet != null ? grades[0].grade.typegradeSet : {}}">
                                    <span th:text="${tg.name}"></span>
                                    <button 
                                       th:onclick="'deleteTypegradeColumn(\'' + @{/api/delete-columnGrade/classes/{id}(id=${classId}, name=${tg.name})} + '\')'">
                                        <i class="fa-solid fa-circle-xmark text-danger"></i>
                                    </button>
                                </th>

                                <th>Điểm TB</th>
                            </tr>

                            <tr th:each="s: ${grades}">
                                <td th:text="${s.studentId.id}"></td>
                                <td th:text="${s.studentId.studentCode}"></td>
                                <td th:text="${s.studentId.name}"></td>
                                <td th:text="${s.grade.finalExem != null ? s.grade.finalExem : '--'}"></td>
                                <td th:text="${s.grade.midterm != null ? s.grade.midterm : '--'}"></td>
                                <td th:if="${s.grade.typegradeSet != null and !#lists.isEmpty(s.grade.typegradeSet)}"
                                    th:each="tg : ${s.grade.typegradeSet}" 
                                    th:text="${tg.grade != null ? tg.grade : '--'}">
                                </td>
                                <td th:text="${s.grade.averageScore != null ? s.grade.averageScore : '--'}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </main>
        </div>
        <div th:replace="base :: footer" ></div>
    </div>
</body>
</html>



