<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div>
        <div>
            <div th:replace="base :: sidebar"></div>
            <main class="container">
                <div style="padding-top: 110px "></div>

                <div class="w3-container" style="margin-left:200px">
                    <div class="section-header">
                        <h2>Danh sách tài khoản</h2>
                    </div> 
                    <div class="mt-2 mb-2 d-flex justify-content-between align-items-center">
                        <!-- Nút bên trái -->
                        <a th:href="@{/users/add}" class="btn btn-success">Thêm tài khoản</a>
                    </div>
                    <div class="dashboard">
                        <div class="card orange">
                            <div class="number"></div>
                            <div class="title">Sinh viên</div>
                            <div class="icon">👤</div>
                            <a th:href="@{/users/list(role='ROLE_STUDENT')}" class="link">Danh sách ➤</a>
                        </div>
                        <div class="card orange">
                            <div class="number"></div>
                            <div class="title">Giảng viên</div>
                            <div class="icon">👨‍🏫</div>
                            <a th:href="@{/users/list(role='ROLE_TEACHER')}" class="link">Danh sách ➤</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div th:replace="base :: footer" ></div>
    </div>
</body>
</html>






